body {
    background-color: #f1f1f1;
}

#width {
    max-width: 1024px;
    border-top: 200px;
    margin: auto;
    background-color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#word {
    margin-top: 20px;
    background: white;
    padding-top: 40px;
    width: 1024px;
}

.topnav {
    display: flex;
    background-color: #333;
    max-width: 1024px;
    margin: auto;
    padding: 14px 16px;
    justify-content: space-between;
}

/* Navbar links */
.topnav div a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -60px;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #F1F1F1;
    color: black;
}

.right {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: flex;
}

.left {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: flex;
}

#content {
    width: 700px;
}

#firstcontent {
    margin-top: 20px;
    border: 20px;
    background-color: white;
}

#secondcontent {
    margin-top: 40px;
    border: 20px;
    background-color: white;
}

h2 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#giao {
    max-width: 330px;
    margin-left: 20px;
}

#flex {
    max-width: 1024px;
    margin: auto;
    display: flex;
}

#about {
    background-color: white;
}

#popu {
    background-color: white;
}

#follow {
    background-color: white;
}

#footer {
    max-width: 1024px;
    margin: auto;
    background-color: rgb(181, 181, 181);
    max-height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .row {
        flex-wrap: wrap;
    }

    body {
        background-color: #000000;
    }

}

/* Responsive layout - makes the three */
@media screen and (max-width: 480px) {

    .row {
        flex-direction: column;
    }

    body {
        background-color: #000000;
    }
}